.section {
  flex-basis: calc(50% - 20px);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 368px;
  max-height: calc(100vh - 344px);
  overflow: hidden;
}

.element {
  display: flex;
}

.flexContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order {
  display: flex;
  padding-right: 16px;
  padding-bottom: 52px;
  align-items: center;
  justify-content: flex-end;
}

.flexContainer > svg {
  width: 36px;
  height: 36px;
}

.icon > svg {
  width: 24px;
  height: 24px;
}

.fillings {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 464px;
  overflow-y: scroll;
}

.fillings::-webkit-scrollbar {
  width: 8px;
  height: 0px;
  display: flex;
  height: 20px;
}

.fillings::-webkit-scrollbar-track {
  background: #2F2F37;
  margin-bottom: 16px;
  margin-top: 16px;
}
  
.fillings::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  height: 59%;
}

@media screen and (max-width: 1280px) {
  .section {
    flex-basis: 50%;
  }

  .list {
    padding-left: 0;
  }

  .element {
    padding-right: 18px;
  }

  .fillings {
    padding-right: 10px;
  }

  .flexContainer > div {
    /* max-width: 80%; */
    display: flex;
    justify-self: stretch;
  }
}