.app {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
}

.flexContainer {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .flexContainer {
    max-width: 95%;
    gap: 20px;
  }
}
