.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 24px;
  list-style-type: none;
  margin: 0;
}

.listItem:first-of-type {
  padding-top: 40px;
}

.listItem:last-of-type {
  padding-bottom: 52px;
}